<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html>
<head>
  <title>Search Campgrounds</title>
</head>
<body>
  <h1 class="col-6 offset-3">Search Campgrounds</h1>

  <form action="/campgrounds/search" method="GET">
    <label for="maxPrice">Max Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" min="0" step="1">

    <button type="submit">Search</button>
  </form>

  <h2 class="col-6 offset-3">Affordable Campgrounds</h2>
  <ul>
    <% for (const campground of affordableCampgrounds) { %>
      <li><%= campground.title %> - $<%= campground.price %></li>
    <% } %>
  </ul>
</body>
</html>
